body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
}

.type {
  display: inline-block;
  color: white;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
  vertical-align: middle;
}

.type.electric {
  background-color: #F9C742;
  border: 3px solid #E0B646;
}

.type.normal {
  background-color: #525252;
  border: 3px solid #292929;
}

.type.fighting {
  background-color: #c44343;
  border: 3px solid #923434;
}

.type.flying {
  background-color: #72d9f3;
  border: 3px solid #4b92a3;
}

.type.poison {
  background-color: #2bff00;
  border: 3px solid #1dad00;
}

.type.ground {
  background-color: #8f4500;
  border: 3px solid #502700;
}

.type.rock {
  background-color: #444444;
  border: 3px solid #383838;
}

.type.bug {
  background-color: #d445aa;
  border: 3px solid #8b2b6f;
}

.type.ghost {
  background-color: #c7c7c7;
  border: 3px solid #5f5f5f;
  color: black;
}

.type.steel {
  background-color: #5a5a5a;
  border: 3px solid #3a3a3a;
}

.type.fire {
  background-color: #c20101;
  border: 3px solid #6b0000;
}

.type.water {
  background-color: #0300c7;
  border: 3px solid #020061;
}

.type.grass {
  background-color: #0a7c19;
  border: 3px solid #06460e;
}

.type.psychic {
  background-color: #ff00ff;
  border: 3px solid #830083;
}

.type.ice {
  background-color: #4affff;
  border: 3px solid #2a9b9b;
}

.type.dragon {
  background-color: #ffa600;
  border: 3px solid #ad7101;
}

.type.dark {
  background-color: #271e27;
  border: 3px solid #000000;
}

.type.fairy {
  background-color: #8fffc7;
  border: 3px solid #64ad89;
  color: black;
}

.type.unknown {
  background-color: #300157;
  border: 3px solid #000000;
}

.type.shadow {
  background-color: #e9ceff;
  border: 3px solid #9c8aaa;
  color: #000000;
}

.statbar {
  display: flexbox;
  border-radius: 2px;
}

.statbar.value {
  background-color: #2bff00;
}

/* .pokemon.stat {
  display: grid;
  grid-template-columns: 20% 10% 70%;
  grid-template-areas: 'title value bar';
} */

.pokemonCard {
  display: block;
  float: left;
  width: 280px;
  height: 300px;
  padding: 0px;
  background-color: #bcdffc;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border: 0.1px solid black;
  margin: 5px;
  border-radius: 10px;
}

.pokemonCard:hover {
  background-color: #70bfff;
  transition: background-color 0.5s;
}

.pokemonCard.image {
  height: 60%;
  margin: 0px;
  padding: 0px;
  border: none;
}

.pokemonCard:hover img:hover {
  padding: 5px;
  transition: padding 0.5s;
}

.pokemonCard.image img{
  height: 100%;
}

.pokemonCard.info {
  height: 40%;
  margin: 0px;
  font-size: 20px;
  border: none;
  background-color: #609dcf;
}

.pokemonCard.info.id {
  height: 30%;
  font-weight: 700;
  text-align: center;
}

.pokemonCard.info.name {
  height: 30%;
  font-weight: 400;
}

.pokemonCard.info.types {
  height: 40%;
}

.pokemonList {
  height: 100%;
  display: block;
}

.pokemonList.list {
  height: 90%;
  display: block;
}

.navbar.menu.types {
  display: block;
  margin: 2.5px;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  padding: 2.5px 10px 2.5px 10px;
  text-align: center;
  background-color: rgb(72, 216, 216);
  cursor: pointer;
}

.navbar.menu.types:hover {
  background-color: rgb(53, 170, 170);
  transition: background-color 1s;
}

.navbar.menu {
  justify-content: left;
  float: left;
  margin: 5px;
}

.navbar {
  display: block;
  height: 100px;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.navbar.buttons {
  display: flex;
  justify-content: center;
  height: 50px;
}

.navbar button {
  display: block;
  margin: 2.5px;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  padding: 2.5px 10px 2.5px 10px;
  text-align: center;
  background-color: rgb(36, 73, 194);
  color: white;
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  background-color: rgb(28, 55, 143);
  transition: background-color 1s;
}